{% extends "layout.html.twig" %}

{% block body -%}
    {% if app.request.query.get('deletedname') !='' %}
        <div class="alert alert-success" role="alert">
            Link <strong>{{ app.request.query.get('deletedname') }}</strong> gelöscht.
        </div>
    {% endif %}

    {% if app.request.query.get('haslinksname') !='' %}
        <div class="alert alert-warning" role="alert">
            Tag <strong>{{ app.request.query.get('haslinksname') }}</strong> ist noch mit Links verbunden.
        </div>
    {% endif %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Tags</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.getName() }}</td>
                            <td>
                                <a href="{{ path('tag_delete', {'slug':entity.slug}) }}" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i> Löschen
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}